/* Estilos CSS para el cuerpo y el fondo */
.body {
    margin: 0;
    padding: 0;
    background-color: #fffab69d; 
    display: grid;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
}


/* Estilos CSS para el espacio de color negro */
.black-bar {
    background-color: rgb(192, 144, 54);
    height: 10em;  
    margin-left: 18%;
    margin-right: 18%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 8);
    
}


.nbp {
    color: #000000;
    text-align: center;
    font-family: 'Notable', sans-serif;
    font-size: 400%;
    background-color: #ffffff;
    border-radius: 1em;
    margin-left: 30%;
    margin-right: 30%;

}


/* Estilos CSS para el espacio de separacion con el fondo*/
.cont {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 18%;
    margin-right: 18%;
    padding: 0%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    border-radius: 0%;
    text-align: center;
    
}
/* Estilos CSS para el espacio de color negro */

/* Estilos CSS para la imagen de portada */
.imgp {
    height: 100%;
    width: 90%;

}
/* Estilos CSS para el espacio de color negro */